:root {
    /*-----------------Global styles------------------------------ */
    --font-white: #FFFFFF;
    --font-orange: #FF6565;
    --font-dark-blue: #071629;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 200;
}

header {
    color: var(--font-white);
    display: grid;
    grid-template-rows: minmax(250px, auto) auto ;
    padding: 30px;
    background-image: url(/alx_html_css/headphones/header-assests/images/headphones_hero_1.jpg);
    text-align: center;
    min-height: 870px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    justify-self: center;
    height: 32px;
    width: 160px;
}

.nav-links li {
    list-style: none;
    padding: 10px;
}

.nav-links a {
    text-decoration: none;
    color: var(--font-white);
    font-weight: bold;    
}
                     
.hero-container {
    display: grid;
}

.hero-section h3 {
    margin: 25px 0;
}

.hero-section button {
    width: 162px;
    height: 45px;
    border: none;
    border-radius: 5rem;
    background-color: var(--font-orange);
}

.hero-container p {
    line-height: 26px;
}

/* what-we-do-container styles */

.what-we-do-container {
    display: grid;
    grid-template-rows: 400px auto;
    text-align: center;
    min-height: 900px;
    padding: 30px 30px 50px 30px;
}

.what-we-do-container img {
    width: 94px;
    height: 65px;
}

.what-we-do-text {
    align-self: center;
}

.what-we-do-text h1 {
    padding-bottom: 25px;
    font-size: 32px;
}

.what-we-do-text p {
    font-size: 16px;
    line-height: 26px;
}

.grid-container {
    display: grid;
    row-gap: 5.5rem;
}

.grid-container h3 {
    padding: 20px;
}

.grid-container {
    font-size: 14px;
    line-height: 26px;
}

/*  results section styles */

.results-container {
    display: grid;
    grid-template-rows: 150px 250px auto;
    text-align: center;
    min-height: 1490px;
    background-image: url("/alx_html_css/headphones/header-assests/images/headphones_hero_2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--font-white);
    padding: 30px;
}

.results-grid {
    display: grid;
}

.results-container img {
    height: 180px;
    width: 180px;
}

.results-container h1 {
    align-self: center;
}

.results-container p {
   font-size: 16px;
   line-height: 26px;
}

.percentage {
    position: relative;
    top: -8rem;
}

.percentage h3 {
    font-weight: bold;
    font-size: 46px;
    padding-bottom: 20px;
}

.percentage p {
    font-size: 14px;
}



/* For tablet view above 481px screen size */

@media (min-width: 481px) { 
    .nav-links-container {
        display: flex;
        justify-content: space-between;
    }

    .nav-links {
        display: flex;
    }

    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .what-we-do-container {
        min-height: 700px;
    }

    .results-container {
        min-height: 870px;
        grid-template-rows: 150px 250px auto;
    }

    .results-grid {
        grid-template-columns: repeat(2, 1fr);
    }

 }



/* For laptop view above 481px screen size */

 @media (min-width: 768px) { 
   header {
     padding: 40px 100px;
   }

   .grid-container {
    grid-template-columns: repeat(4, 1fr);
    }

    .what-we-do-container {
        min-height: 500px;
    }

    .results-container {
        min-height: 300px;
    }

    .results-grid {
        /* grid-template-rows: 100px 100px auto; */
        grid-template-columns: repeat(4, 1fr);
    }


 }

